/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #8BC34A; /* Verde claro */
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
}

header img.header-logo {
    width: 20%;
    height: auto;
    margin-bottom: 20px;
}

header h1 {
    color: #ffffff; /* Blanco */
}

nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav ul li {
    margin: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff; /* Negro */
    padding: 10px 15px;
    border: 2px solid #ffffff; /* Negro */
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: #333333; /* Negro */
    color: #ffffff; /* Blanco */
}


main {
    padding: 20px;
}

footer {
    background-color: #333333; /* Gris oscuro */
    color: #FFFFFF; /* Blanco */
    text-align: center;
    padding: 10px;
    box-shadow: 0 -4px 8px rgba(0,0,0,0.1);
}

/* Estilos de la sección "Inicio" */
#inicio {
    background-color: #FFFFFF; /* Blanco */
    padding: 50px 0;
    text-align: center;
}

#inicio h2 {
    font-size: 2.5em;
    color: #4CAF50; /* Verde natural */
}

#inicio p {
    font-size: 1.2em;
    margin: 20px 0;
    color: #666666; /* Gris oscuro */
}

.beneficios {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.beneficio {
    flex: 1;
    padding: 20px;
    max-width: 300px;
}

.beneficio img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.beneficio h3 {
    font-size: 1.5em;
    color: #4CAF50; /* Verde natural */
}

.beneficio p {
    font-size: 1.1em;
    color: #666666; /* Gris oscuro */
}

/* Estilos de la sección "Sobre Nosotros" */
#sobre-nosotros {
    background-color: #E8F5E9; /* Verde muy claro */
    padding: 50px 0;
    text-align: justify;
}

#sobre-nosotros h2 {
    font-size: 2.5em;
    color: #4CAF50; /* Verde natural */
}

.sobre-nosotros-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.sobre-nosotros-texto {
    flex: 1;
    text-align: left;
    max-width: 600px;
}

.sobre-nosotros-texto p {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #666666; /* Gris oscuro */
    line-height: 1.6;
}

.sobre-nosotros-texto p:last-child {
    margin-bottom: 0;
}

.sobre-nosotros-content img {
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* Estilos de la sección "Servicios" */
#servicios {
    background-color: #F2F2F2; /* Gris claro */
    padding: 50px 0;
    text-align: justify;
    color: #333333; /* Negro */
}

#servicios h2 {
    font-size: 2.5em;
}

.servicios-grid {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.servicio {
    flex: 1;
    padding: 20px;
}

.servicio img {
    width: 100%;
    margin-bottom: 20px;
}

.servicio h3 {
    font-size: 1.5em;
}

.servicio p {
    font-size: 1.1em;
}

/* Estilos para cada ítem de pregunta y respuesta */
.faq-item {
    margin-bottom: 20px; /* Espacio entre ítems */
    text-align: justify; /* Justificar el texto */
}

.faq-item h3 {
    color: #4CAF50; /* Verde natural */
}

.faq-item p {
    color: #666; /* Color del texto */
    font-size: 16px; /* Tamaño del texto */
    line-height: 1.6; /* Espaciado entre líneas */
}

/* Botón flotante de WhatsApp */
.whatsapp-button {
    position: fixed;
    bottom: 2%;
    right: 2%;
    width: 15%; /* Ancho cuadrado */
    height: 15%; /* Altura cuadrada */
    background-image: url(img/whatsappboton.png); /* Ruta de tu imagen */
    background-size: cover; /* Para que la imagen se ajuste al botón */
    text-indent: -9999px; /* Oculta el texto del botón */
    cursor: pointer;
    background-position: center; /* Posición centrada de la imagen */
}